[Unit]
Description=Advertise Minecraft Server
After=network.service

[Service]
Type=simple
User=minecraft
EnvironmentFile=/opt/minecraft/%i/env.sh
ExecStart=/usr/bin/python3 /opt/minecraft/advertise.py
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
