[Unit]
Description=Minecraft Server
After=network.service

[Service]
Type=simple
User=minecraft
WorkingDirectory=/opt/minecraft/%i
ExecStartPre=/opt/minecraft/update_server.sh
ExecStart=/usr/bin/java -Xms6G -Xmx12G -jar /opt/minecraft/server.jar nogui
Restart=always
RestartSec=5
TimeoutStartSec=300

[Install]
WantedBy=multi-user.target
