[Unit]
Description=Restart/Update Minecraft Server

[Service]
Type=oneshot
ExecStartPre=/bin/systemctl stop minecraft@*.service
ExecStart=/opt/minecraft/update_server.sh
ExecStartPost=/bin/systemctl start minecraft@*.service
