[Unit]
Description=Upload Minecraft Snapshot

[Service]
Type=oneshot
User=minecraft
Group=minecraft
ExecStart=/opt/minecraft/sync_to_google_drive.sh
TimeoutSec=900

[Install]
WantedBy=timers.target
