[Unit]
Description=Update Minecraft Server Binary

[Service]
Type=oneshot
User=minecraft
Group=minecraft
WorkingDirectory=/opt/minecraft
ExecStart=/opt/minecraft/update_server.sh
